<!DOCTYPE html>
<html>
<head>
  <title>    
  Visitmee
  </title>
  <%= stylesheet_link_tag    'bootstrap',   media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<div class="nav">
		<%= link_to "Home", :controller => "site", :action => 'home' %> |
		<%= link_to "About Us", :controller => 'site', :action => 'about' %> |
		<%= link_to "FAQ", :controller => 'site', :action => 'faq' %> |

	</div>

	<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %> <br />

    <div>
        <!-- Put the map here -->

    </div>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook/", id: "sign_in" %> |
    <%= link_to "Sign in with Twitter", "/auth/twitter/"%>
  <% end %>
</div>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

	<%= yield %>
	<footer>visitMee || cheapest way to travel</footer>	
</div>

</body>
</html>
